@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --theme-col: #5655C6;
    --bg-col: #e8e8e8;
    --light-side: white;
    --dark-side: darkgrey;
    --faded: grey;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-col);
}

.lead {
    font-weight: 800;
}

.badge {
    box-shadow: 2px 2px 4px var(--dark-side), -2px -2px 4px var(--light-side);
    font-weight: 600;
}

.bg-primary {
    background-color: var(--theme-col) !important;
}

.bg-light {
    background-color: var(--bg-col) !important;
}

.card {
    background-color: var(--bg-col);
    border: none;
    border-radius: 16px;
    box-shadow: 8px 8px 16px var(--dark-side), -8px -8px 16px var(--light-side);
    min-width: 360px;
}

.profile-img {
    object-fit: cover;
    box-shadow: 8px 8px 8px var(--dark-side), -8px -8px 8px var(--light-side);
    border: 2px solid var(--bg-col);
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.post-btn {
    color: var(--theme-col);
    background-color: var(--bg-col);
    box-shadow: 4px 4px 4px var(--dark-side), -4px -4px 4px var(--light-side);
    border: 2px solid var(--bg-col);
    border-radius: 16px;
    padding: 0.25rem 1rem;
    margin: 0 1rem 1rem 0;

}

.post-btn:hover {
    box-shadow: 8px 8px 8px var(--dark-side), -8px -8px 8px var(--light-side);
    transition-duration: 100ms;
    border: 2px solid var(--theme-col);
}

.post-btn:active {
    box-shadow: inset 4px 4px 4px var(--dark-side), inset -4px -4px 4px var(--light-side);
}

.post-btn:disabled {
    box-shadow: none;
    border: 2px dashed var(--faded);
    color: var(--faded);
}

.form-control {
    background-color: var(--bg-col);
    border-radius: 8px;
    border: 1px solid var(--faded);
    margin-bottom: 1rem;
}

.form-control:focus {
    background-color: var(--bg-col);
    box-shadow: none;
    border: 2px solid var(--theme-col);
}

.comment-card {
    box-shadow: 4px 4px 4px var(--dark-side), -4px -4px 4px var(--light-side);
    border-radius: 16px;
    padding: 1rem;
}

.comment-timestamp {
    font-size: small;
    color: var(--faded);
    margin-bottom: 0.25rem;
}